* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}

a {
  color: #036;
  font-weight: bolder;
}

body {
  height: 100%;
  width: 100%;
  background-color: #505058;
  font-family: 'dosis', sans-serif;
  background-image: url("pexels-photo-235985pixabay.jpeg");
  background-attachment: fixed;
  background-size: cover;
}

p {
  line-height: 1.7;
  padding: 1em 1.5em;
}

/*overlay options*/
.lightenBG2 {
  background-color: rgba(255,255,255,0.25);
}
.lightenBG5 {
  background-color: rgba(255,255,255,0.5);
}
.darkenBG2 {
  background-color: rgba(0,0,0,0.25);
}
.darkenBG5 {
  background-color: rgba(0,0,0,0.5);
}

  
@media only screen and (max-width: 800px) {
  .rowToCol {
    -webkit-box-orient: vertical;
		-webkit-box-direction: normal;
			-ms-flex-direction: column;
				flex-direction: column;
  }
}








#pageContent {
  width: 90vw;
  min-width: 600px;
  max-width: 1400px;
  min-height: calc(100vh - 50px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#c8c8d4), to(#99a));
  background-image: linear-gradient(180deg, #c8c8d4, #99a);
  margin: 0 auto;
  padding-bottom: 50px;
  padding-top: 1px;
  -webkit-box-shadow: 0 4px 6px rgba(175,190,200,0.8);
  box-shadow: 0 4px 6px rgba(175,190,200,0.8);
}

footer {
  position: relative;
  height: 50px;
  background-color: rgba(0, 0, 5, 0.55);
  font-size: 0.9rem;
  letter-spacing: 1.4px;
  margin-top: -50px;
  min-width: 600px;
}

footer img {
  vertical-align: middle;
}

footer ul {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 85%;
  min-width: calc(0.85 * 600px);
  max-width: calc(0.85 * 1400px); 
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px / 50%;
  border-left: 6px solid #99a;
  border-right: 6px solid #99a;
  text-align: center;
}

footer ul li {
  margin: -1px;
  border-radius: 8px / 20%;
  height: 25px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50px;
          flex: 1 1 50px;
}

footer ul li:not(.last) {
  border-right: 3px solid #646479;
}

footer ul li:not(.first) {
  border-left: 3px solid #646479;
}

footer ul li.last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer ul a,
footer ul a:visited {
  color: #779;
}

/*footer icons*/
#si:hover {
  -webkit-filter: invert(0) sepia(1) saturate(1) hue-rotate(180deg) brightness(1.2);
          filter: invert(0) sepia(1) saturate(1) hue-rotate(180deg) brightness(1.2);
}
#pex:hover {
  -webkit-filter: invert(0) sepia(1) saturate(10) hue-rotate(130deg) brightness(1);
          filter: invert(0) sepia(1) saturate(10) hue-rotate(130deg) brightness(1);
}
#da:hover {
  -webkit-filter: invert(0) sepia(1) saturate(15) hue-rotate(110deg) brightness(1.2);
          filter: invert(0) sepia(1) saturate(15) hue-rotate(110deg) brightness(1.2);
}
#as:hover {
  -webkit-filter: invert(0) sepia(1) saturate(20) hue-rotate(180deg) brightness(1.3);
          filter: invert(0) sepia(1) saturate(20) hue-rotate(180deg) brightness(1.3);
}
#gh:hover {
  -webkit-filter: brightness(1.5);
          filter: brightness(1.5);
}

h1, h2, h3, h4, h5 {
  font-family: 'Kalam', cursive;
  letter-spacing: 1.8px;
  margin: 0.6em auto;
  text-align: center;
  text-shadow: 0px 0px 6px #113;
  color: #e8e8f0;
}



nav {
  position: relative;
  z-index: 10;
  background-color: rgba(0, 0, 5, 0.3);
  height: 50px;
}

.navContentContainer {
  width: 90vw;
  min-width: 600px;
  max-width: 1400px;
  position: relative;
  height: 100%;
  margin: auto;
  background-color: #000;
}

#navLogoDiv {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0.6em;
}

#navLogoDiv span {
  color: #3ba;
  font-size: 2rem;
}

#navLinks {
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 1.2em;
  height: 90%;
}

#navLinks > li {
  min-width: 140px;
  text-align: center;
  padding: 0.10em 0.6em;
  border-radius: 6px / 20%;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

/*showNav class is toggled with event listener on #burger div*/
#navLinks.showNav {
  visibility: visible;
  opacity: 1;
}
#navLinks > li:hover {
  border-left: 3px solid #c8fff0;
  border-right: 3px solid #c8fff0;
  color: #c8fff0;
}
.dropdown {
  position: relative;
}
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #000;
  width: 100%;
  top: 100%;
  left: 0;
  border-radius: 4px;
}
.dropdown:hover .dropdownContent {
  display: block;
}
.dropdown:active .dropdownContent {
  display: block;
}
.dropdownContent li {
  background-image: -webkit-gradient(linear, left top, right top, color-stop(5%, rgba(0, 200, 200, 0)), color-stop(50%, rgba(0, 200, 200, 0.3)), color-stop(95%, rgba(0, 200, 200, 0)));
  background-image: linear-gradient(90deg, rgba(0, 200, 200, 0) 5%, rgba(0, 200, 200, 0.3) 50%, rgba(0, 200, 200, 0) 95%);
  color: #3ba;
  border-radius: 6px / 20%;
  margin: 0.25em;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  text-align: center;
}
.dropdownContent li:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#96ffe1), color-stop(3%, rgba(0, 200, 200, 0.5)), color-stop(50%, rgba(0, 200, 200, 0)), color-stop(97%, rgba(0, 200, 200, 0.5)), to(#96ffe1));
  background-image: linear-gradient(90deg, #96ffe1 0%, rgba(0, 200, 200, 0.5) 3%, rgba(0, 200, 200, 0) 50%, rgba(0, 200, 200, 0.5) 97%, #96ffe1 100%);
  border-left: 3px solid #c8fff0;
  border-right: 3px solid #c8fff0;
}
#navLinks .dropdownContent a {
  display: block;
  font-size: 0.9rem;
  padding: 0.5em 0;
}
#navLinks a:link {
  color: #3ba;
}

#navLinks a:visited {
  color: #3ba;
}

#navLinks a:hover {
  color: #c8fff0;
}

#navLinks a:active {
  color: #c8fff0;
}

#burger {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 0.6em;
  cursor: pointer;
}
#burger div {
  width: 25px;
  height: 2px;
  margin: 5px 10px;
  background-color: #3ba;
  -webkit-transition: opacity 0.2s ease-in 0.2s, background-color 0.2s ease-in 0.2s, -webkit-transform 0.4s ease-in 0s;
  transition: opacity 0.2s ease-in 0.2s, background-color 0.2s ease-in 0.2s, -webkit-transform 0.4s ease-in 0s;
  transition: transform 0.4s ease-in 0s, opacity 0.2s ease-in 0.2s, background-color 0.2s ease-in 0.2s;
  transition: transform 0.4s ease-in 0s, opacity 0.2s ease-in 0.2s, background-color 0.2s ease-in 0.2s, -webkit-transform 0.4s ease-in 0s;
}
#burger.burgX .topB {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
  background-color: #c8fff0;
}
.burgX .midB {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 0;
}

#burger.burgX .btmB {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
  background-color: #c8fff0;
}
