body {
	background: linear-gradient(to right, rgb(25,25,30), rgb(18,24,46));
	background-image: url("pImages/water_planet_horizon.jpg"); 
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 15px;
	padding: 0px;
}

p {
	text-align:center;
	margin: 0px;
	padding: 0px;
	color: ##eb7fff;
}

p.limit {
	display: inline;
	height: auto;
	width: auto;
	color: #002f55;
	margin: 10px; /*MARGIN*/
	padding: 4px;
	text-align: center;
	background-color: #ebebff;
	border-radius: 3px;
}


canvas {
	display: block;
	margin: 15px auto;
	margin-top: 50px;
	border: 2px solid black;
	outline: 3px solid slategray;
	outline-style: outset;
}



hr {
	margin: 10px;
}

a:visited { 
	color: #6F00FF;
}

a:hover {
	color: #00d0d0;
}


.dropContent {
	border: 2px #10344F solid;
	border-left: 1px solid #70bfff;
	border-top: 1px solid #70bfff;
	text-align: center;
	margin: 15px 0px;
	margin-left: 25px;
	padding: 0px;
	min-width: 80px;
}

.dropContent li {
	font-size: 14px;
	color: #204f8f;
	margin: 0px;
	padding: 6px 8px;
	border: 1px solid #206faf;
	background-color: #ebd6ff;
}

.dropContent li:hover {
	background-color: #000000;
	color: #00afdf;
}


.dropContent a {
	text-decoration: none;
	color: #007faf;
}
.dropContent a:visited {
	color: #801f8f;
}

.dropContent li:hover a:visited {
	color: #c02fef;
}

.dropContent li:hover a {
	color: #00afdf;
}


.dropBtn {
	cursor: pointer;
	background-color: #000000;

}


.parentBox1 {
	display: flex;
	background: linear-gradient(to left, rgb(85,150,170), rgb(48,64,96));
	border: 3px #70bfff solid;
	border-right: 3px #10344F solid;
	border-bottom: 3px #10344F solid;
	margin: 10px;
	padding: 15px;
	border-radius: 60px 3px 60px 3px;
}


.flexChild {
	margin: 10px 15px;
	padding: 5px 25px;
	border: 1px #70bfff solid;
	border-right: 1px #10344F solid;
	border-bottom: 1px #10344F solid;
	background-color: #000000;
	border-radius: 60px 3px 60px 3px;
	width: 200px;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
}

.flexChild p {
	color: #eb7fff;
	margin: 0px;
	padding: 0px;
}

.flexChild.dropBtn p {
	color: #007faf;
	margin: 0px;
	padding: 0px;
}

.flexChild.dropBtn:hover p, .flexChild.dropBtn:focus p{
	color: #00d0d0;
}



#drop1 {
	display: none;
	flex-direction: column;
	position: absolute;
	list-style-type: none;
	background-color: black;
	color: #00dff5;
	box-shadow: 4px 4px 4px rgba(0,0,0,0.6);
	z-index: 1;
}



.button1:active {
	transform: translateY(2px);
	box-shadow: 2px 2px 4px rgba(0,0,0,0.6);
}




