
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

body {
	margin: 0px;
	background-color: gray;
}

p {
	margin: 25px;
}

#gameCanvas {
	display: block;
	border: 3px solid black;
	margin: 25px;
}
