/* LINK THIS FILE FIRST */

* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;	
}

html {
	height: 100%;
}

body {
	background-image: linear-gradient(to bottom right, #d4d0d4, #b3b0d8);
	font-family: 'Dosis', sans-serif;
	background-repeat: no-repeat;
    background-attachment: fixed;
	--navTextColor: #bbb;
	--navHoverColor: #000;
	--navMidBGColor: #111;
	--navBGColor: #333;
	--sectionTextColor: #000;
	--maxWidth: 1024px;
}

canvas {
	display: block;
	margin-top: 10px;
	border: 1px solid black;
}
#cParent {
	position: relative;
	font-size: 16px;
	height: 450px;
}

section { 
	display: flex;
	margin: 3% auto;
	width: 90%;
	max-width: var(--maxWidth, 1024px);
}


.columns {
	justify-content: space-between;
}
.rows {
	flex-direction: column;
}
.flex3 {	
	width: 31%;
	padding: 1%;
	background-color: #e8e8f8;
	color: var(--sectionTextColor, #000020);
	border-radius: 5px;
}

h1 {
	text-align: center;
	margin: auto;
	margin-top: 3%;
	padding: 1% 0;
	font-size: 28px;
	font-weight: bold;
	color: var(--sectionTextColor);
	letter-spacing: 1.1px;
	width: fit-content;
	max-width: var(--maxWidth, 1024px);
}

nav {
	background-color: var(--navBGColor, #333);
	height: 50px;
}
nav .mid {
	position: relative;
	margin: 0px auto;
	width: 90%;
	max-width: var(--maxWidth, 1024px);
	background-color: var(--navMidBGColor, #111);
	height: 100%;
}
.navIcon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	color: #888;
	padding: 0px 8px;
	letter-spacing: 2px;
}
.navIcon span {
	color: #fff;
	font-weight: bold;
}

nav a {
	text-decoration: none;
}
#navLinks {
	display: flex;
	margin: 0;
	padding: 0;
	visibility: hidden;
	opacity: 0;
	transition-timing-function: ease-in;
	transition: opacity 1s;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 60px;
}
#navLinks a,
#navLinks a:visited {
	color: var(--navTextColor);
}
/*showNav class is toggled with event listener on #burger div*/
#navLinks.showNav {
	visibility: visible;
	opacity: 1;
}

#navLinks li  {
	list-style: none;
	font-size: 16px;
	color: var(--navTextColor);
	margin: 0px 10px;
	padding: 5px 8px;
	border-radius: 5px;
}
#navLinks li:hover {
	color: #000;
}
#navLinks li:hover a {
	color: #000;
}
#navLinks > li:hover,
#navLinks > li:focus, 
#navLinks > li:active {
	background-color: rgb(0,200,200);
	color: #000;
}

.dropdown  {
	position: relative;
}
.dropdown:hover {
	cursor: pointer;
}
.dropdown:hover .dropdownContent {
	display: block;
}
.dropdown:active .dropdownContent {
	display: block;
}
.dropdownContent {
	display: none;
	position: absolute;
	top: 99%;
	left:0;
	width: 100%;
	z-index: 1;
	border-radius: 5px;
	box-shadow: 1px 1px 4px 4px rgba(0,0,15,0.1);
}
#navLinks .dropdownContent li {
	margin: 0;
	background-color: #f0f0ff;
	line-height: 1.3;
	border: 1px solid #9090a8;
}
#navLinks .dropdownContent a {
	font-size: 14px;
	color: #000;
	padding: 5px;
	margin: auto;
}
#navLinks .dropdownContent a:link {
	color: rgb(0,0,0);
}
#navLinks .dropdownContent a:visited {
	color: rgb(0,0,0);
}
#navLinks .dropdownContent a:hover {
	color: rgb(0,200,200);
}
#navLinks .dropdownContent a:active {
	color: rgb(0,200,200);
}

#burger{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 5px;
	cursor: pointer;
}
#burger div {
	width: 25px;
	height: 2px;
	margin: 5px 10px;
	background-color: #999;
	transition: all 0.5s;
}
.burgX .top{  
	transform: rotate(-45deg) translate(-5px,5px);
}
.burgX .mid {
	opacity: 0;
}
.burgX .btm {
	transform: rotate(45deg) translate(-5px,-5px);
}



