/* for image displays*/
.gridDisplay {
	display: none;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(12, 1fr);
	grid-gap: 1.2vw;
	margin: 2% auto;
	width: 90%;
	height: 55vw;
	max-width: var(--maxWidth, 1024px);
	max-height: 635px;
}
.gridItem {
	height: 100%;
	display: flex;
	background-size: cover;
	justify-content: center;
	align-items: center;
	border: 1px solid #999;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}
.gridItem:hover {
	border: 1px solid #fff;
}



#abstract .gt1 {
	grid-row: 1/3;
	grid-column: 3/6;
	background-image: url("../images/abstract/colorGlass.jpg");
	animation-name: Abs_1;
	animation-duration: 2s;
}
@keyframes Abs_1 { 
  0% { transform: translate(-50vw, -10vh); }
  100% { transform: 0; }
} 
#abstract .spinner {
	grid-row: 1/3;
	grid-column: 3/6;
	animation-name: spin;
	animation-duration: 2.5s;
	animation-timing-function: ease-out;
}
@keyframes spin { 
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
#abstract .gt2 {
	grid-row: 6/9;
	grid-column: 8/11;
	background-image: url("../images/abstract/paintBird.jpg");
	animation-name: Abs_2;
	animation-duration: 2s;
	z-index: 1;
}
@keyframes Abs_2 { 
  0% { transform: translate(50vw, 0); }
  100% { transform: 0; }
}
#abstract .gt3 {
	grid-row: 1/5;
	grid-column: 7/13;
	background-image: url("../images/abstract/blue_purp_flow.jpg");
	animation-name: Abs_3;
	animation-duration: 1s;
}
@keyframes Abs_3 { 
  0% { transform: translate(0, -50vh); }
  100% { transform: 0; }
}
#abstract .gt4 {
	grid-row: 3/5;
	grid-column: 1/7;
	background-image: url("../images/abstract/flame.jpg");
	animation-name: Abs_4;
	animation-duration: 2s;
}
@keyframes Abs_4 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}
#abstract .gt5 {
	grid-row: 5/10;
	grid-column: 2/9;
	background-image: url("../images/abstract/matrixy.jpg");
	animation-name: Abs_5;
	animation-duration: 1s;
}
@keyframes Abs_5 { 
  0% { transform: translate(0, 50vh); }
  100% { transform: 0; }
}
#abstract .gt6 {
	grid-row: 9/11;
	grid-column: 1/3;
	background-image: url("../images/abstract/blueSqr3.jpg");
	animation-name: Abs_6;
	animation-duration: 2s;
}
@keyframes Abs_6 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}


#sandWater > div:active {
	transform: rotateY(180deg);
	transition: transform 1.5s linear; 
}
#sandWater > div {
	transition: transform 1.5s linear;
}
#sandWater .gt1 {
	grid-row: 1/3;
	grid-column: 1/10;
	background-image: url("../images/pexels/ocean/shore_rocks_Cr414320.jpg");
	animation-name: water_1;
	animation-duration: 3s;
}
@keyframes water_1 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}
#sandWater .gt2 {
	grid-row: 1/3;
	grid-column: 10/13;
	background-image: url("../images/pexels/ocean/sandReeds1300510sm.jpg");
	animation-name: water_2;
	animation-duration: 4.5s;
}
@keyframes water_2 { 
  0% { transform: translate(100vw, -50vh); }
  100% { transform: 0; }
}
#sandWater .gt3 {
	grid-row: 3/8;
	grid-column: 1/4;
	background-image: url("../images/pexels/ocean/jellyCr1076758.jpg"); 
	animation-name: water_3;
	animation-duration: 4s;
}
@keyframes water_3 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}
#sandWater .gt4 {
	grid-row: 3/9;
	grid-column: 4/11;
	background-image: url("../images/pexels/ocean/turtle2765872.jpeg");
	animation-name: water_4;
	animation-duration: 1.8s;
}
@keyframes water_4 { 
  0% { transform: translate(50vw, 0); }
  100% { transform: 0; }
}
#sandWater .gt5 {
	grid-row: 3/9;
	grid-column: 11/13;
	background-image: url("../images/pexels/ocean/sharkCr2_67854.jpg");
	animation-name: water_5;
	animation-duration: 3.5s;
}
@keyframes water_5 { 
  0% { transform: translate(0, -150vh); }
  100% { transform: 0; }
}
#sandWater .gt6 {
	grid-row: 8/11;
	grid-column: 1/4;
	background-image: url("../images/pexels/ocean/redCrabCr2289652.jpg");
	animation-name: water_6;
	animation-duration: 3s;
}
@keyframes water_6 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}
#sandWater .gt7 {
	grid-row: 9/11;
	grid-column: 4/13;
	background-image: url("../images/pexels/ocean/water_rocksCrT590178.jpg");
	animation-name: water_7;
	animation-duration: 3s;
}
@keyframes water_7 { 
  0% { transform: translate(50vw, 0); }
  100% { transform: 0; }
}




#birds .gridItem {
	border: none;
	box-shadow: none;
}
#birds .gt1 {
	grid-row: 3/9;
	grid-column: 2/4;
	border-top-left-radius: 50% 35%;
	border-top-right-radius: 50% 35%;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4) inset;
	border: 1px solid #303038;
	background-image: url("../images/pexels/forest/fallMaple_edit_589840.jpeg");
}
#birds .gt2 {
	grid-row: 1/10;
	grid-column: 5/9;
	border-top-left-radius: 50% 45%;
	border-top-right-radius: 50% 45%;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4) inset;
	border: 1px solid #303038;
	background-image: url("../images/pexels/forest/pine_yellowUnder_cut_247421.jpeg");
}

#birds .gt3 {
	grid-row: 3/9;
	grid-column: 10/12;
	border-top-left-radius: 50% 35%;
	border-top-right-radius: 50% 35%;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4) inset;
	border: 1px solid #303038;
	background-image: url("../images/pexels/forest/forest-sunbeams-trees-sunlight-70365.jpeg");
}


#birds .gt4 {
	grid-row: 5/11;
	grid-column: 11/13;
	z-index: 10;
	background-image: url("../images/pexels/birds/macawEdit.png");
}
#birds .gt5 {
	grid-row: 8/11;
	grid-column: 1/3;
	z-index: 10;
	background-image: url("../images/pexels/birds/pexelsEdit_2253391.png");
}
#birds .gt6 {
	grid-row: 6/11;
	grid-column: 8/11;
	z-index: 10;
	background-image: url("../images/pexels/birds/falconEdit.png");
}
