* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	box-sizing: border-box;	
}

html, body {
	height: 100%;
}

body {
	background-image: linear-gradient(to bottom right, #d0d0d8, #bbc);
	background-attachment: fixed;
	font-family: 'Mansalva', sans-serif;
	overflow-x: hidden;
	--navTextColor: #c0c0cb;
	--navHighliteColor: #8fe;
	--navBGColor: #343438;
	--navMidBGColor: #000;
	--sectionTextColor: #e8e8f0;
	--maxWidth: 1024px;
	--maskColor: #808088; 
	--mask2Color: #d8d8e0; /*for color scheme testing*/
}

#pageContainer {
	min-height: 100%;
}
#pageContent {
	overflow: auto;
	padding-bottom: 50px;
}

canvas {
	margin: 1%;
	border: 2px solid #e0e8f0;
	border-bottom: 2px solid #8898b8;
	border-right: 2px solid #8898b8;
	border-radius: 3px;
}
#cParent {
	height: 500px;
	width: 500px;
}
#fishtank {
	width: 400px;
}


p {	
	font-family: 'dosis', sans-serif;
	padding: 1%;
	font-size: 16px;
	line-height: 24px;
}

div.center {
	margin: 2% auto;
	padding: 0;
	background-color: transparent;
	width: 90%;
	max-width: var(--maxWidth, 1024px);
	min-width: 400px;
	border-radius: 3px;
	overflow: hidden;
}

section { 
	display: flex;
	justify-content: space-around;
	margin: 3% auto;
	width: 90%;
	max-width: var(--maxWidth, 1024px);
	min-width: 400px;
}
.maskSection {
	background-color: var(--maskColor);
	padding: 3%;
	overflow: hidden;
	border-radius: 3px;
}

.columns {
	justify-content: space-between;
}
.rows {
	flex-direction: column;
}
.flex3 {	
	width: 31%;
	padding: 1%;
	background-color: var(--sectionTextColor);
	color: #002;
	border-radius: 5px;
}


h1, h2, h3, h4 {
	font-family: 'Kalam', cursive;
	letter-spacing: 2px;
	margin: auto;
	margin-top: 3%;
	padding: 1%;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 0px 0px 4px #112;
	color: var(--sectionTextColor);
	width: 90%;
	max-width: var(--maxWidth, 1024px);
}

.centerFit {
	width: fit-content;  /* IEedge I hate you */
	text-align: center;
	margin: auto;
	margin-top: 3%;
}

nav {
	background-color: var(--navBGColor);
	height: 50px;
	z-index: 1;
}
.mid {
 display: flex;
 justify-content: center;
 align-items: center;
	margin: 0px auto;
	width: 90%;
	min-width: 400px;
	max-width: var(--maxWidth, 1024px);
	background-color: var(--navMidBGColor);
	height: 100%; 
}
.navLogoDiv {
	justify-self: flex-start;
}
.navLogoDiv span {
	color: var(--navHighliteColor);
	font-size: 30px;
	height: 100%;
}

nav a {
	text-decoration: none;
}
#navLinks {
 
 width: 100%;
	display: flex;
 justify-content: flex-end;
	visibility: hidden;
	opacity: 0;
	transition-timing-function: ease-in;
	transition: opacity 1s;
}
#navLinks a,
#navLinks a:visited {
	color: var(--navTextColor);
}

/*showNav class is toggled with event listener on #burger div*/
#navLinks.showNav {
	visibility: visible;
	opacity: 1;
}
#navLinks li {
	list-style: none;
	font-size: 18px;
	color: var(--navTextColor); 
	margin: 0px 15px;
	padding: 5px;
	border-radius: 6px;
}
#navLinks li:hover {
	color: var(--navHighliteColor);
}
#navLinks li:hover a {
	color: var(--navHighliteColor);
}




.dropdown  {
	position: relative;
}
.dropdown:hover {
	cursor: pointer;
}
.dropdown:hover .dropdownContent {
	display: block;
}
.dropdown:active .dropdownContent {
	display: block;
}
.dropdownContent {
	display: none;
	position: absolute;
	background-color: transparent;
	top: 100%;
	width: 100%;
	z-index: 10;
	border-radius: 6px;
}
#navLinks .dropdownContent li {
	margin: auto;
	background-color: var(--sectionTextColor);
	border: 1px solid #000;
	z-index: 10;
	border-radius: 6px;
}
#navLinks .dropdownContent a {
	margin-left: 2%;
	font-size: 14px;
	color: #000;
}
#navLinks .dropdownContent a:link {
	color: rgb(0,0,0);
}
#navLinks .dropdownContent a:visited {
	color: rgb(0,0,0);
}
#navLinks .dropdownContent a:hover {
	color: rgb(0,180,170);
}
#navLinks .dropdownContent a:active {
	color: rgb(0,180,170);
}




#burger{

	right: 5px;
	cursor: pointer;
}
#burger div {
	width: 25px;
	height: 2px;
	margin: 5px 10px;
	background-color: var(--navHighliteColor);
	transition: all 0.25s;
}
.burgX .topB{  
	transform: rotate(-45deg) translate(-5px,5px);
}
.burgX .midB {
	opacity: 0;
}
.burgX .btmB {
	transform: rotate(45deg) translate(-5px,-5px);
}


footer {
	height: 50px;
	background-color: var(--navBGColor);
	font-size: 14px;
	letter-spacing: 1.4px;
	margin-top: -50px;
}  
footer img {
	vertical-align: middle; 
}
footer ul { /* inside mid */
	display: flex;
	justify-content: space-around;
	width: 80%;
 align-self: center;
 align-items: center;
	border-radius: 10px;
	border-left: 6px solid rgba(215,215,255,0.4);
	border-right: 6px solid rgba(215,215,255,0.4);
	list-style-type: none;
	text-align: center;
}
#footerLinks li{
	display: inline;
	width: 34%;
}
#footerLinks li:not(.last){
	border-right: 2px solid rgba(215,215,255,0.3);
}

#footerLinks a, 
#footerLinks a:visited {
	color: #779;
}


@media only screen and (max-width: 650px) {
	.columns {
		flex-direction: column;
	}
	.flex3 {
		width: 100%;
		margin: 1% auto;
	}
	h2 {
		font-size: 22px;
	}
}
