.gridMain {
    margin: 0.5em auto;
    background-color:  #9898a8;
    display: grid;
    padding: 10px;
    
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 98%;
    grid-gap: 10px;
    border: 1px solid black;
    height: 70vh;
    min-height: calc(0.70*600px);
    max-height: calc(0.70*1200px);
    grid-template-areas: 
        ". b b a a a a a"
        "c . . a a a a a"
        ". . . . d d d d"
        ". . x x x x . e"
        "f . x x x x . ."
        "g g g g . . . ."
        "h h h h h . . j"
        "h h h h h i i .";
}


.BG1top, .BG2top, .BG1bottom, .BG2bottom { 
    background-attachment: fixed;
    background-size: 1200px;
    border-radius: 3px;
    box-shadow: 1px 1px 3px 2px rgba(0,0,20,0.15);
    transition: opacity 4s ease, box-shadow 4s ease;
}

.BG2top {
    background-position: center top;
    background-image: url("../images/negSpaceImages/pexels-photo-41102skitterphoto.jpeg");
} 

.BG1bottom { 
    background-position: center bottom;
    background-image: url("../images/negSpaceImages/pexels-photo-1597662chuanyu.jpeg");
} 
.BG1top {
    background-position: center top;
    background-image: url("../images/negSpaceImages/pexels-photo-235621pixabay.jpeg"); 
} 
.BG2bottom {
    background-position: center center;
    background-image: url("../images/negSpaceImages/trees-in-forest-during-sunset-247421.jpg"); 
}
.BG2top, .BG2bottom {
    width: 100%;
    height: 100%;
    /*transition: opacity 4s ease;*/
}
.BG2top:hover, .BG2bottom:hover {
    opacity: 0;
}
.BG1top:hover, .BG1bottom:hover {
    box-shadow: 1px 1px 3px 2px rgba(0,0,20,0.3);
}




._a {
    grid-area: a;
}
._b {
    grid-area: b;
}
._c {
    grid-area: c;
}
._d {
    grid-area: d;
}
._e {
    grid-area: e;
}
._f {
    grid-area: f;
}
._h {
    grid-area: h;
}
._g {
    grid-area: g;
}
._i {
    grid-area: i;
}
._j {
    grid-area: j;
}
._k {
    grid-area: k;
}
._l {
    grid-area: l;
}
._m {
    grid-area: m;
}
._n {
    grid-area: n;
}


._x, ._y, ._z {
    background-color: #9898a8;
    border: 1px solid #ccd !important;
    display: flex;
    justify-content: center;
    align-items: center;
}

._x {
    grid-area: x;
}
._y {
    grid-area: y;
}
._z {
    grid-area: z;
}

