.gridMain {

    margin: 1em auto;
    padding: 1.5em;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1em 2em;
    width: 90vw;
    max-width: 1400px;
    min-width: 600px;
    height: calc(100vh - 100px); /*100px = navH+footerH*/
    min-height: 600px;
    max-height: 775px;
    grid-template-areas: 
        "b b b b a a a a"
        "b b b b a a a a"
        "y y y y a a a a"
        "f f x x x x e e"
        "f f x x x x e e"
        "h h h h z z z z"
        "h h h h i i i i"
        "h h h h i i i i";
}

.BG1top, .BG2top, .BG1bottom, .BG2bottom, .BG1bottomAlt { 
    background-attachment: fixed;
    background-size: 1400px;
    background-repeat: no-repeat;
    border-radius: 2px;
    
    box-shadow: 1px 1px 3px 2px rgba(0,0,10,0.15);
    transition: opacity 3s ease, box-shadow 3s ease;
}


.BG2top {  /* top/bottom refers to position.  div 2 is inside of (stacked on) div 1 */
    border-radius: 100%   25%   100%  / 40%;
    background-position: center -25px;
    background-image: url("../images/negSpaceImages/pexels-photo-41102skitterphoto.jpeg");
} 
.BG1bottom { 
    border-radius: 25%   100%   25%  / 40%;
    background-position: center top; 
    background-image: url("../images/negSpaceImages/pexels-photo-1597662chuanyu1400.jpeg");
} 
.BG1top {
    border-radius: 100%   25%   100%  / 40%;
    background-position: center top;
    background-image: url("../images/negSpaceImages/pexels-photo-235621pixabay.jpeg"); 
} 
.BG2bottom {
    border-radius: 25%   100%   25%  / 40%;
    background-position: center bottom; 
    background-image: url("../images/negSpaceImages/trees-in-forest-during-sunset-247421.jpg"); 
}
.BG1bottomAlt {
    border-radius: 25%   100%   25%  / 40%;
    background-position: center top; 
    background-image: url("../images/negSpaceImages/pexels-photo-262713crop.jpeg"); 
}

.BG2top, .BG2bottom {
    width: 100%;
    height: 100%;
}
.BG2top:hover, .BG2bottom:hover {
    opacity: 0;
}
.BG1top:hover, .BG1bottom:hover, .BG1bottomAlt:hover {
    box-shadow: 1px 1px 3px 2px rgba(0,0,20,0.3);
}


._a {
    border-radius: 80%   55%   100%  / 80%;
    grid-area: a;
}
._a div {
    border-radius: 80%   55%   100%  / 80%;
}
._b {
    grid-area: b;
}
._c {
    grid-area: c;
}
._e {
    grid-area: e;
    margin-top: -2em;
    margin-right: 1em; 
}
._f {
    grid-area: f;
}
._h {
    grid-area: h;
}

._i {
    grid-area: i;
}
._j {
    grid-area: j;
}
._k {
    grid-area: k;
}
._l {
    grid-area: l;
}
._m {
    grid-area: m;
}
._n {
    grid-area: n;
}
._x, ._y, ._z {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(max(1rem, min(1.25vw, 1.25rem)));
}
._x {
    border-radius: 25%  30%  25% / 30%;
    background-color: rgba(0,0,5,0.2);
    border: 0.2vw solid #ccd;
    border-bottom: 0.2vw solid #223;
    border-right: 0.2vw solid #223;
    grid-area: x;
}

._y {
    grid-area: y;
}
._z {
    grid-area: z;

}
.gridMain h1 {
    line-height: 1.2;
    font-weight: 200;
    color: #bbc;
    padding: 0 0.35em;
    padding-top: 0.1em;
    text-shadow: 2px 2px 10px #001;
    
}
.gridMain h3 {
    border-radius: 2% 4%  / 35%;
    padding: 0 1em;
    
}
h3.bottomText {
    color: #112;
    border-left: 0.5vw solid #112;
    border-right: 0.5vw solid #112;
    text-shadow: 2px 2px 10px #001;
}
h3.topText {
    font-weight: 200;
    color: #ccd;
    border-left: 0.5vw solid #eef;
    border-right: 0.5vw solid #eef;
    text-shadow: 0 0 10px #eef;
}