.gridItem {
	height: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	justify-content: center;
	align-items: center;
	border: 1px solid #999;
	box-shadow: 2px 2px 4px 2px rgba(0,0,0,0.2);
}
.gridItem:hover {
	border: 1px solid #fff;
}


.gridRadioDisplay {
	display: none;
	-ms-grid-rows: (1fr)[10];
		grid-template-rows: repeat(10, 1fr);
	-ms-grid-columns: (1fr)[12];
		grid-template-columns: repeat(12, 1fr);
	grid-gap: 1.2vw;
	margin: auto;
	width: 100%;
	padding: 0 5%;
	height: 50vw;
	min-height: calc(0.55 * 600px);
	max-height: calc(0.55 * 1400px);
}



.gridRadioDisplay#trail {
	background-color: rgba(0,0,10,0.4);
	padding: 20px 5%;
} 
#gridRadioH1 {
	margin-top: 0.5em;
}

#abstract .gt1 {
	grid-row: 1/3;
	grid-column: 3/6;
	background-image: url("../images/abstract/colorGlass.jpg");
	animation-name: Abs_1;
	animation-duration: 2s;
}
@keyframes Abs_1 { 
  0% { transform: translate(-50vw, -10vh); }
  100% { transform: 0; }
} 
#abstract .spinner {
	grid-row: 1/3;
	grid-column: 3/6;
	animation-name: spin;
	animation-duration: 2.5s;
	animation-timing-function: ease-out;
}
@keyframes spin { 
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0deg); }
  75% { transform: rotate(-3deg); }
  100% { transform: rotate(0deg); }
}
#abstract .gt2 {
	grid-row: 6/9;
	grid-column: 8/11;
	background-image: url("../images/abstract/paintBird.jpg");
	animation-name: Abs_2;
	animation-duration: 2s;
	z-index: 1;
}
@keyframes Abs_2 { 
  0% { transform: translate(50vw, 0); }
  100% { transform: 0; }
}
#abstract .gt3 {
	grid-row: 1/5;
	grid-column: 7/13;
	background-image: url("../images/abstract/blue_purp_flow.jpg");
	animation-name: Abs_3;
	animation-duration: 1s;
}
@keyframes Abs_3 { 
  0% { transform: translate(0, -50vh); }
  100% { transform: 0; }
}
#abstract .gt4 {
	grid-row: 3/5;
	grid-column: 1/7;
	background-image: url("../images/abstract/flame.jpg");
	animation-name: Abs_4;
	animation-duration: 2s;
}
@keyframes Abs_4 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}
#abstract .gt5 {
	grid-row: 5/10;
	grid-column: 2/9;
	background-image: url("../images/abstract/matrixy.jpg");
	animation-name: Abs_5;
	animation-duration: 1s;
}
@keyframes Abs_5 { 
  0% { transform: translate(0, 50vh); }
  100% { transform: 0; }
}
#abstract .gt6 {
	grid-row: 9/11;
	grid-column: 1/3;
	background-image: url("../images/abstract/blueSqr3.jpg");
	animation-name: Abs_6;
	animation-duration: 2s;
}
@keyframes Abs_6 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}


#sandWater .gt1 {
	grid-row: 1/3;
	grid-column: 1/10;
	background-image: url("../images/pexels/ocean/shore_rocks_Cr414320.jpg");
	animation-name: water_1;
	animation-duration: 3s;
}
@keyframes water_1 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}
#sandWater .gt2 {
	grid-row: 1/3;
	grid-column: 10/13;
	background-image: url("../images/pexels/ocean/sandReeds1300510sm.jpg");
	animation-name: water_2;
	animation-duration: 4s;
}
@keyframes water_2 { 
  0% { transform: translate(100vw, -50vh); }
  100% { transform: 0; }
}
#sandWater .gt3 {
	grid-row: 3/8;
	grid-column: 1/4;
	background-image: url("../images/pexels/ocean/jellyCr1076758.jpg"); 
	animation-name: water_3;
	animation-duration: 3.5s;
}
@keyframes water_3 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}
#sandWater .gt4 {
	grid-row: 3/9;
	grid-column: 4/11;
	background-image: url("../images/pexels/ocean/turtle2765872.jpeg");
	animation-name: water_4;
	animation-duration: 1.5s;
}
@keyframes water_4 { 
  0% { transform: translate(50vw, 0); }
  100% { transform: 0; }
}
#sandWater .gt5 {
	grid-row: 3/9;
	grid-column: 11/13;
	background-image: url("../images/pexels/ocean/sharkCr2_67854.jpg");
	animation-name: water_5; 
	animation-duration: 3s;
}
@keyframes water_5 { 
  0% { transform: translate(0, -150vh); }
  100% { transform: 0; }
}
#sandWater .gt6 {
	grid-row: 8/11;
	grid-column: 1/4;
	background-image: url("../images/pexels/ocean/redCrabCr2289652.jpg");
	animation-name: water_6;
	animation-duration: 3s;
}
@keyframes water_6 { 
  0% { transform: translate(-50vw, 0); }
  100% { transform: 0; }
}
#sandWater .gt7 {
	grid-row: 9/11;
	grid-column: 4/13;
	background-image: url("../images/pexels/ocean/water_rocksCrT590178.jpg");
	animation-name: water_7;
	animation-duration: 3s;
}
@keyframes water_7 { 
  0% { transform: translate(50vw, 0); }
  100% { transform: 0; }
}
#sandWater > div {
	transition: transform 1.2s ease-in-out;
} 



#birds .gridItem {
	border: none;
	box-shadow: none;
}
#birds .gt1 {
	grid-row: 3/9;
	grid-column: 2/4;
	border-top-left-radius: 50% 35%;
	border-top-right-radius: 50% 35%;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4) inset;
	border: 1px solid #000;
	border-right: 2px solid #000;
	background-image: url("../images/pexels/forest/fallMaple_edit_589840.jpeg");
}
#birds .gt2 {
	grid-row: 1/10;
	grid-column: 5/9;
	border-top-left-radius: 50% 45%;
	border-top-right-radius: 50% 45%;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4) inset;
	border: 1px solid #000;
	border-right: 2px solid #000;
	background-image: url("../images/pexels/forest/pine_yellowUnder_cut_247421.jpeg");
}

#birds .gt3 {
	grid-row: 3/9;
	grid-column: 10/12;
	border-top-left-radius: 50% 35%;
	border-top-right-radius: 50% 35%;
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.4) inset;
	border: 1px solid #000;
	border-right: 2px solid #000;
	background-image: url("../images/pexels/forest/forest-sunbeams-trees-sunlight-70365.jpeg");
}


#birds .gt4 {
	grid-row: 5/11;
	grid-column: 11/13;
	z-index: 10;
	background-image: url("../images/pexels/birds/macawEdit.png");
}
#birds .gt5 {
	grid-row: 8/11;
	grid-column: 1/3;
	z-index: 10;
	background-image: url("../images/pexels/birds/pexelsEdit_2253391.png");
}
#birds .gt6 {
	grid-row: 6/11;
	grid-column: 8/11;
	z-index: 10;
	background-image: url("../images/pexels/birds/falconEdit.png");
}


/* from old main.  use display for grid */
.BG1top, .BG2top, .BG1bottom, .BG2bottom, .BG1bottomAlt { 
    background-attachment: fixed;
    background-size: 1400px;
    background-repeat: no-repeat;
    transition: opacity 3s ease, box-shadow 3s ease;
	box-shadow: 2px 2px 6px 3px rgba(0,0,20,0.25);
	border-radius: 3px;
	border: 1px solid #334;
}
@media only screen and (max-width: 700px) {
    .BG1top, .BG2top, .BG1bottom, .BG2bottom, .BG1bottomAlt {
        background-size: 750px;
    } 
}
/*
border-radius: 45% 15%  / 50%;
border-radius: 45% 15%  / 50%;
border-radius: 45% 15%  / 35%;
border-radius: 45% 15%  / 35%;
border-radius: 45% 15%  / 35%;
*/
.BG2top {  /* top/bottom refers to position.  div 2 is inside of div 1 */
    background-position: center -25px;
    background-image: url("../images/negSpaceImages/pexels-photo-41102skitterphoto.jpeg");
} 
.BG1top {
    background-position: center top;
    background-image: url("../images/negSpaceImages/pexels-photo-235621pixabay.jpeg"); 
} 
.BG2bottom {
    background-position: center -200px; 
    background-image: url("../images/negSpaceImages/trees-in-forest-during-sunset-247421.jpg"); 
}
.BG1bottom { 
    background-position: center top; 
    background-image: url("../images/negSpaceImages/pexels-photo-1597662chuanyu1400.jpeg");
} 
.BG1bottomAlt {
    background-position: center top; 
    background-image: url("../images/negSpaceImages/pexels-photo-262713crop.jpeg"); 
}

.BG2top, .BG2bottom {
    width: 100%;
    height: 100%;
}
.BG2top:hover, .BG2bottom:hover {
    opacity: 0;
}
.BG1top:hover, .BG1bottom:hover, .BG1bottomAlt:hover {
    box-shadow: 2px 2px 6px 3px rgba(0,0,20,0.5);
}

._a {
	grid-row: 1/5;
	grid-column: 7/13;
}
._b {
	grid-row: 1/4;
	grid-column: 1/7;
}
._e {
	grid-row: 5/7;
	grid-column: 10/13;
}
._f {
	grid-row: 5/7;
	grid-column: 1/4;
}
._h {
	grid-row: 7/11;
	grid-column: 1/7;
}
._i {
	grid-row: 8/11;
	grid-column: 7/13;
}
._x {
	grid-row: 5/7;
	grid-column: 4/10;
}
._y {
	grid-row: 4/5;
	grid-column: 1/5;
}
._z {
	grid-row: 7/8;
	grid-column: 9/13;
}

._x, ._y, ._z {
    display: flex;
    justify-content: center;
	align-items: center;
}

#trail h1 {

	margin: 0;
	letter-spacing: 1px;
    font-size: calc(max(1.28rem, min(3vw, 3.0rem)));
    font-weight: 200;
    color: #ccd;
	text-shadow: 2px 2px 10px #001;
	border-radius: 50%;
	border: 2vw solid #c8c8e0;
	border-right: 2vw solid #334;
	border-bottom: 2vw solid #334;
	padding: 3.5em 0.4em;
}
#trail h3 {
	margin: 0;
	letter-spacing: 1px;
    font-size: calc(max(0.9rem, min(1.5vw, 2.3rem)));
    border-radius: 2% 4%  / 35%;
	padding: 0 0.5em;
	
}
#trail h3.bottomText {
    color: #001;
    border-left: 0.5vw solid #001;
    border-right: 0.5vw solid #001;
    text-shadow: 2px 2px 10px #000;
    animation: fromRight 2.5s ease;
}
#trail h3.topText {
    animation: fromLeft 2.5s ease;
    font-weight: 200;
    color: #ccd;
    border-left: 0.5vw solid #eef;
    border-right: 0.5vw solid #eef;
    text-shadow: 0 0 10px #eef;
}
@keyframes fromLeft {
    0% { transform: translate(-50vw, 0); }
    100% { transform: 0; }
}
@keyframes fromRight {
    0% { transform: translate(50vw, 0); }
    100% { transform: 0; }
}