.gridMain {
    margin: 12px auto 20px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 1em;
    width: 90vw;
    max-width: 1400px;
    min-width: 600px;
    height: calc(0.53*90vw);
    min-height: calc(0.55*600px);
    max-height: calc(0.55*1400px);
    grid-template-areas: 
        "b b b b a a a a"
        "b b b b a a a a"
        "y y y y a a a a"
        "f f x x x x e e"
        "f f x x x x e e"
        "h h h h z z z z"
        "h h h h i i i i"
        "h h h h i i i i";
}
.BG1top, .BG2top, .BG1bottom, .BG2bottom, .BG1bottomAlt { 
    background-attachment: fixed;
    background-size: 1400px;
    background-repeat: no-repeat;
    transition: opacity 3s ease, box-shadow 3s ease;
    box-shadow: 2px 2px 6px 3px rgba(0,0,20,0.25);
}
@media only screen and (max-width: 700px) {
    .BG1top, .BG2top, .BG1bottom, .BG2bottom, .BG1bottomAlt {
        background-size: 750px;
    } 
}

.BG2top {  /* top/bottom refers to position.  div 2 is inside of div 1 */
    border-radius: 45% 15%  / 50%;
    background-position: center -25px;
    background-image: url("../images/negSpaceImages/pexels-photo-41102skitterphoto.jpeg");
} 
.BG1top {
    border-radius: 45% 15%  / 50%;
    background-position: center top;
    background-image: url("../images/negSpaceImages/pexels-photo-235621pixabay.jpeg"); 
} 
.BG2bottom {
    border-radius: 45% 15%  / 35%;
    background-position: center -200px; 
    background-image: url("../images/negSpaceImages/trees-in-forest-during-sunset-247421.jpg"); 
}
.BG1bottom { 
    border-radius: 45% 15%  / 35%;
    background-position: center top; 
    background-image: url("../images/negSpaceImages/pexels-photo-1597662chuanyu1400.jpeg");
} 

.BG1bottomAlt {
    border-radius: 45% 15%  / 35%;
    background-position: center top; 
    background-image: url("../images/negSpaceImages/pexels-photo-262713crop.jpeg"); 
}

.BG2top, .BG2bottom {
    width: 100%;
    height: 100%;
}
.BG2top:hover, .BG2bottom:hover {
    opacity: 0;
}
.BG1top:hover, .BG1bottom:hover, .BG1bottomAlt:hover {
    box-shadow: 2px 2px 6px 3px rgba(0,0,20,0.5);
}


._a {
    grid-area: a;
}
._b {
    grid-area: b;
}
._e {
    grid-area: e;
}
._f {
    grid-area: f;
}
._h {
    grid-area: h;
}
._i {
    grid-area: i;
}
._x, ._y, ._z {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
._x {
    margin: 0 1em;
    padding: 0 0.5em;
    padding-top: 0.1em;
    border-radius: 30% / 50%;
    background-color: rgba(0,0,5,0.25);
    border: 0.3vw solid #bbc;
    border-bottom: 0.3vw solid #181828;
    border-right: 0.3vw solid #181828;
    box-shadow: 
        5px 5px 5px  rgba(230,230,255,0.4) inset,
        -5px -5px 5px   rgba(0,0,10,0.4) inset;
    grid-area: x;
}
._y {
    grid-area: y;
}
._z {
    grid-area: z;

}
.gridMain h1 {
    font-size: calc(max(1.28rem, min(3vw, 3.0rem)));
    line-height: 1.2;
    font-weight: 200;
    color: #ccd;
    text-shadow: 2px 2px 10px #001;
}
.gridMain h3 {
    font-size: calc(max(0.9rem, min(1.5vw, 2.3rem)));
    border-radius: 2% 4%  / 35%;
    padding: 0 1em;
    
}
h3.bottomText {
    color: #001;
    border-left: 0.5vw solid #001;
    border-right: 0.5vw solid #001;
    text-shadow: 2px 2px 10px #000;
}
h3.topText {
    font-weight: 200;
    color: #ccd;
    border-left: 0.5vw solid #eef;
    border-right: 0.5vw solid #eef;
    text-shadow: 0 0 10px #eef;
}




/*  move this later */
#descriptionContainer {
    width: 55%;
    margin: 1em auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#desc_text {
    flex-basis: 75%;
    padding-right: 0;
    text-align: justify;
}
#scarmint {
    margin: 0 auto;
    padding-top: 1.4em;
    width: 20%;
    border-radius: 4px;
}
#scarmint img {
    width: 100%;
    border: 1px solid #002;
    border-radius: 4px;
}

#artContainer {
    position: relative;
    margin: 2em auto;
    margin-bottom: 4em;
    padding: 2em 4em;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 min(6%, 75px);
    width: 80%;
    
    background-color: rgba(0,0,25,0.2);
}
.artGridItem {
    display: block;
    height: auto;
    margin: 1.5em auto;
}
.art {
    border-radius: 4px;
    width: 100%;
    height: auto;
    border: 1px solid #556;
}
.artGridItem:hover {
    z-index: 5;
}
.artGridItem:hover .art{
    box-shadow: 2px 2px 10px 5px rgba(0,0,25,0.5);
    border: 1px solid black;
}
.artGridItem.L:hover{
    transform: scale(1.65) translate(34%);
}
.artGridItem.R:hover{
    transform: scale(1.65) translate(-34%);
}