* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style-type: none;
}


a {
  color: #036;
  font-weight: bolder;
}

body {
  background-color: #606068;
  font-family: 'dosis', sans-serif;
}

p {
  padding: 1%;
}
 

div.center {
  margin: 1.5em 1em;
  width: 90%;
  line-height: 1.6;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2em auto;
  width: 90%;
}

.columns {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.rows {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex3 {
  width: 31%;
  padding: 1%;
  background-color: #e8e8f0;
  color: #002;
  border-radius: 5px;
}

.radioSelect {
  width: 75%;
  margin: 0.4em auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'dosis', sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  letter-spacing: 0.25px;
}

.radioSelect div {
  margin: 0.5em 0em;
}

.radioSelect div:not(.last) {
  margin-right: 2em;
}

.radioSelect label {
  color: #112;
}

.radioSelect input {
  -webkit-transform: translateY(-4px);
          transform: translateY(-4px);
}



canvas {
  margin: 0.5em;
  border: 2px solid #e0e8f0;
  border-bottom: 2px solid #8898b8;
  border-right: 2px solid #8898b8;
  border-radius: 3px;
}

#pageContent {
  width: 90vw;
  min-width: calc(0.9 * 600px);
  max-width: calc(0.9 * 1200px);
  min-height: calc(100vh - 45px);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#d8d8e4), to(#aab));
  background-image: linear-gradient(180deg, #d8d8e4, #aab);
  margin: 0 auto;
  
  padding-bottom: 50px;
  -webkit-box-shadow: 0 3px 4px rgba(240, 245, 255, 0.8);
          box-shadow: 0 3px 4px rgba(240, 245, 255, 0.8);
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 50px;
  background-color: rgba(0, 0, 10, 0.6);
  font-size: 0.9rem;
  letter-spacing: 1.4px;
  margin-top: -50px;
}

footer img {
  vertical-align: middle;
}

footer ul {
  width: 85vw;
  min-width: calc(0.85 * 600px);
  max-width: calc(0.85 * 1200px);
  height: 65%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px / 50%;
  border-left: 6px solid #aab;
  border-right: 6px solid #aab;
  text-align: center;
}

footer ul li {
  border-radius: 8px / 20%;
  height: 25px;
  flex: 1 1 50px;
}
footer ul li.last {
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul li:not(.last) {
  border-right: 2px solid #71718e;
}
footer ul li:not(.first) {
  border-left: 2px solid #71718e;
}


#footerLinks a,
#footerLinks a:visited {
  color: #779;
}

h1, h2, h3, h4, h5 {
  font-family: 'Kalam', cursive;
  letter-spacing: 1.8px;
  margin: 1em auto;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 0px 6px #113;
  color: #e8e8f0;
}

.centeredFlexSection {
  width: 80%;
  border: 2px outset white;
  background-color: #606068;
  margin: 1em auto;
  padding: 0.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  border-radius: 3px;
}

nav {
  background-color: #343438;
  height: 45px;
}

.navContentContainer {
  width: 90vw;
  min-width: calc(0.9 * 600px);
  max-width: calc(0.9 * 1200px);
  position: relative;
  height: 100%;
  margin: auto;
  background-color: #000;
}

#navLogoDiv {
  position: absolute;
  left: 0;
  top: 0;
  padding-left: 0.6em;
}

#navLogoDiv span {
  color: #3ba;
  font-size: 2rem;
}

#navLinks {
  position: absolute;
  right: 60px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 300;
  font-size: 1.1rem;
  height: 90%;
}

#navLinks > li {
  padding: 0.10em 0.6em;
  border-radius: 8px / 20%;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
}

/*showNav class is toggled with event listener on #burger div*/
#navLinks.showNav {
  visibility: visible;
  opacity: 1; 
}

#navLinks > li:hover {
  border-left: 4px solid #c8fff0;
  border-right: 4px solid #c8fff0;
  color: #c8fff0;
}

.dropdown {
  text-align: center;
  position: relative;
  min-width: 140px;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: #000;
  width: 100%;
  top: 100%;
  left: 0;
  border-radius: 4px;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.dropdown:active .dropdownContent {
  display: block;
}

.dropdownContent li {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 200, 200, 0)), color-stop(3%, rgba(0, 200, 200, 0)), color-stop(50%, rgba(0, 200, 200, 0.4)), color-stop(97%, rgba(0, 200, 200, 0)), to(rgba(0, 200, 200, 0)));
  background-image: linear-gradient(90deg, rgba(0, 200, 200, 0) 0%, rgba(0, 200, 200, 0) 3%, rgba(0, 200, 200, 0.4) 50%, rgba(0, 200, 200, 0) 97%, rgba(0, 200, 200, 0) 100%);
  color: #3ba;
  border-radius: 6px / 20%;
  -webkit-transition: background-image 0.75s;
  transition: background-image 0.75s;
  margin: 0.35em;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  text-align: center;
}

.dropdownContent li:hover {
  background-image: -webkit-gradient(linear, left top, right top, from(#96f0e1), color-stop(3%, rgba(0, 200, 200, 0.65)), color-stop(50%, rgba(0, 200, 200, 0)), color-stop(97%, rgba(0, 200, 200, 0.65)), to(#96f0e1));
  background-image: linear-gradient(90deg, #96f0e1 0%, rgba(0, 200, 200, 0.65) 3%, rgba(0, 200, 200, 0) 50%, rgba(0, 200, 200, 0.65) 97%, #96f0e1 100%);
  border-left: 3px solid #c8f0f0;
  border-right: 3px solid #c8f0f0;
}

#navLinks .dropdownContent a {
  display: block;
  font-size: 0.9rem;
  padding: 0.5em 0;
}

#navLinks a:link {
  color: #3aa;
}

#navLinks a:visited {
  color: #3aa;
}

#navLinks a:hover {
  color: #c8fff0;
}

#navLinks a:active {
  color: #c8fff0;
}

#burger {
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding-right: 0.6em;
  cursor: pointer;
}

#burger div {
  width: 25px;
  height: 2px;
  margin: 5px;
  background-color: #3ba;
  -webkit-transition: opacity 0.2s ease-in 0.2s, background-color 0.2s ease-in 0.2s, -webkit-transform 0.4s ease-in 0s;
  transition: opacity 0.2s ease-in 0.2s, background-color 0.2s ease-in 0.2s, -webkit-transform 0.4s ease-in 0s;
  transition: transform 0.4s ease-in 0s, opacity 0.2s ease-in 0.2s, background-color 0.2s ease-in 0.2s;
  transition: transform 0.4s ease-in 0s, opacity 0.2s ease-in 0.2s, background-color 0.2s ease-in 0.2s, -webkit-transform 0.4s ease-in 0s;
}

#burger.burgX .topB {
  -webkit-transform: rotate(-45deg) translate(-5px, 5px);
          transform: rotate(-45deg) translate(-5px, 5px);
  background-color: #c8fff0;
}

.burgX .midB {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  opacity: 0;
}

#burger.burgX .btmB {
  -webkit-transform: rotate(45deg) translate(-5px, -5px);
          transform: rotate(45deg) translate(-5px, -5px);
  background-color: #c8fff0;
}

@media only screen and (max-width: 650px) {
  .columns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flex3 {
    width: 100%;
    margin: 1% auto;
  }
  h2 {
    font-size: 22px;
  }
}