body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #aaa;
	font-family: 'Dosis', sans-serif;
}

h2 {
	margin: 10px 25px;
	letter-spacing: 1.5px;
}

p {
	margin: 10px 25px;
	font-size: 16px;

}

#cParent {
	position: relative;
	font-size: 16px;
	height: 450px;
}

canvas {
	position: absolute;
	top: 30px;
	display: block;
	border: 1px solid #000;
	border-radius: 4px;
}

