
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

body {
	margin: 15px;
	background-color: gray;
}

p {
	margin: 25px;
}

canvas {
	display: block;
	border: 2px solid silver;
	margin: 25px;
}
