
header, section, footer, aside, nav, main, article, figure {
  display: block; 
}

body {
	margin: 15px;
	background-color: silver;
}

h3 {
	margin: 10px 25px;
}

p {
	margin: 10px 25px;
	font-family: "helvetica";
	font-size: 14px;
}

canvas {
	position: relative;
	top: 5px;
	display: block;
	border: 1px solid #000;
	margin: 0px;
}

#cParent {
	padding: 5px 0px;
	font-size: 16px;
	font-family: "comic sans MS";
}

